
.pagep{display: grid; grid-template-rows: 15% 85%; grid-template-rows: 60px ;  }


@keyframes colochang
{
  10% {color: #0099ff;}
  50% {color: #00ff00;}
  75% {color: #ff3399;}
  100% {color: #6666ff;}
}

.section1
{background-image: url(/images/HD-wallpaper-laser-beams-ultra-artistic-abstract-purple-background-beams-laser.jpg);
  display: grid;
  grid-template-columns: 65% 35%; 
  grid-template-rows: 1fr; 
  grid-template-areas: 
    ". .";
}

.section2
{
  COLOR:black;
  background: url(/images/p_1001519688.webp);
  justify-content: center;
  font-size: 20px;;
}

input {width: 700px;}

textarea {width: 700px;}

.section3{
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr; 
  gap: 30px 50px; 
  grid-template-areas: 
    "email github"
    "email instagram"
    "email facebook"
    "email linkedin"; 
}
.email { grid-area: email; }
.linkedin { grid-area: linkedin; }
.facebook { grid-area: facebook; }
.instagram { grid-area: instagram; }
.github { grid-area: github; }


form button {

  font-weight: 700;
  font-size: 28px;
  background: rgb(157, 60, 221);
  border: rgba(48, 48, 48, 0.5) solid 1px;
  border-radius: 5px;
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
  color: black;

  }

.partienonvide{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr; 
  grid-template-areas: 
    ". . . .";
    font-size: 25px;
  color: aliceblue;
  
}


.entete {outline: none;text-decoration: none;}

.entete:link {color:aliceblue;}

.entete:visited {color: aliceblue;}

.entete:hover{animation: colochang 0.5s linear infinite ;}

button { font-size: 50px; border: none; padding-left: 50px; background-image: url(/images/p_1001519688.webp);}



button:hover{animation: bouger 3s linear infinite; background-color: white;}


.icons{
    text-align: center;
    padding-bottom: 20px;

}



.liens{
  
  display: grid; 
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr ; 
  padding-left: 400px;
  grid-template-areas: 
    "."
    "."
    "."
    "."
    "."
    "."; 
    text-align: center;
    
}



input:focus {
  background-color: rgba(202, 45, 241, 0.33) !important;
}

#email:invalid {
  border: 2px solid red;
}

label {color:black}

p {
  font-size: small;
}

a {color: rgba(106, 10, 130, 0.914);}